DirectoryIndex index.php zf1.php

RewriteEngine On

RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^kitten zf3.php [NC,L]

RewriteRule ^.*$ zf1.php [NC,L]